body {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.header h2 a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.main-menu > ul {
  margin: 20px 0 0;
  padding: 0;
  display: flex;
}

.main-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu a {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.main-menu a:hover,
.main-menu a[aria-current="page"] {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.main-menu li ul {
  margin: 0;
  padding: 0;
  display: none;
}

.main-menu li:hover ul {
  display: block;
  position: absolute;
}

.footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
}
